USE [master]
GO
/****** Object:  Database [DemoKDLv1]    Script Date: 17-Apr-26 8:57:22 PM ******/
CREATE DATABASE [DemoKDLv1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoKDLv1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DemoKDLv1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoKDLv1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DemoKDLv1_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoKDLv1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoKDLv1]
GO
/****** Object:  Table [dbo].[cua_hang]    Script Date: 17-Apr-26 8:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cua_hang](
	[mach] [bigint] IDENTITY(1,1) NOT NULL,
	[sodt] [nvarchar](255) NULL,
	[thoigianmoban] [datetime2](6) NULL,
	[matp] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[mach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[don_dat_hang]    Script Date: 17-Apr-26 8:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[don_dat_hang](
	[madon] [bigint] IDENTITY(1,1) NOT NULL,
	[ngaydathang] [datetime2](6) NULL,
	[makh] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[madon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 17-Apr-26 8:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[makh] [bigint] IDENTITY(1,1) NOT NULL,
	[ngaydathangdautien] [datetime2](6) NULL,
	[tenkh] [nvarchar](255) NULL,
	[matp] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang_buu_dien]    Script Date: 17-Apr-26 8:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang_buu_dien](
	[diachibuudien] [nvarchar](255) NULL,
	[makh] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang_du_lich]    Script Date: 17-Apr-26 8:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang_du_lich](
	[huongdanviendulich] [nvarchar](255) NULL,
	[makh] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mat_hang]    Script Date: 17-Apr-26 8:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mat_hang](
	[mamh] [bigint] IDENTITY(1,1) NOT NULL,
	[gia] [bigint] NULL,
	[mota] [nvarchar](255) NULL,
	[size] [nvarchar](255) NULL,
	[thoigiannhaphang] [datetime2](6) NULL,
	[trongluong] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mat_hang_duoc_dat]    Script Date: 17-Apr-26 8:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mat_hang_duoc_dat](
	[giadat] [bigint] NULL,
	[soluongdat] [int] NULL,
	[madon] [bigint] NOT NULL,
	[mamh] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[madon] ASC,
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mat_hang_duoc_luu_tru]    Script Date: 17-Apr-26 8:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mat_hang_duoc_luu_tru](
	[soluongtrongkho] [int] NULL,
	[thoigianluutru] [datetime2](6) NULL,
	[mach] [bigint] NOT NULL,
	[mamh] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mach] ASC,
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ten_pho]    Script Date: 17-Apr-26 8:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ten_pho](
	[ma_pho] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_pho] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_pho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ten_xa]    Script Date: 17-Apr-26 8:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ten_xa](
	[ma_xa] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_tinh] [nvarchar](255) NULL,
	[ten_xa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_xa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[van_phong_dai_dien]    Script Date: 17-Apr-26 8:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[van_phong_dai_dien](
	[matp] [bigint] IDENTITY(1,1) NOT NULL,
	[bang] [nvarchar](255) NULL,
	[diachivanphong] [nvarchar](255) NULL,
	[tentp] [nvarchar](255) NULL,
	[thoigianlapvanphong] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[matp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cua_hang]  WITH CHECK ADD  CONSTRAINT [FK38ypdeyktspcwjb4cmy81pg19] FOREIGN KEY([matp])
REFERENCES [dbo].[van_phong_dai_dien] ([matp])
GO
ALTER TABLE [dbo].[cua_hang] CHECK CONSTRAINT [FK38ypdeyktspcwjb4cmy81pg19]
GO
ALTER TABLE [dbo].[don_dat_hang]  WITH CHECK ADD  CONSTRAINT [FK7f7o8batqftxfciqjvmqj50ep] FOREIGN KEY([makh])
REFERENCES [dbo].[khach_hang] ([makh])
GO
ALTER TABLE [dbo].[don_dat_hang] CHECK CONSTRAINT [FK7f7o8batqftxfciqjvmqj50ep]
GO
ALTER TABLE [dbo].[khach_hang]  WITH CHECK ADD  CONSTRAINT [FKapf1elean7ysac9on42beh8su] FOREIGN KEY([matp])
REFERENCES [dbo].[van_phong_dai_dien] ([matp])
GO
ALTER TABLE [dbo].[khach_hang] CHECK CONSTRAINT [FKapf1elean7ysac9on42beh8su]
GO
ALTER TABLE [dbo].[khach_hang_buu_dien]  WITH CHECK ADD  CONSTRAINT [FKtkd1sv2udrsdllrmjxa27suwb] FOREIGN KEY([makh])
REFERENCES [dbo].[khach_hang] ([makh])
GO
ALTER TABLE [dbo].[khach_hang_buu_dien] CHECK CONSTRAINT [FKtkd1sv2udrsdllrmjxa27suwb]
GO
ALTER TABLE [dbo].[khach_hang_du_lich]  WITH CHECK ADD  CONSTRAINT [FKapthsa0l4j3nfubbh8lmgmcpj] FOREIGN KEY([makh])
REFERENCES [dbo].[khach_hang] ([makh])
GO
ALTER TABLE [dbo].[khach_hang_du_lich] CHECK CONSTRAINT [FKapthsa0l4j3nfubbh8lmgmcpj]
GO
ALTER TABLE [dbo].[mat_hang_duoc_dat]  WITH CHECK ADD  CONSTRAINT [FK1fhxkx0mm215b3cxp50fhshlp] FOREIGN KEY([madon])
REFERENCES [dbo].[don_dat_hang] ([madon])
GO
ALTER TABLE [dbo].[mat_hang_duoc_dat] CHECK CONSTRAINT [FK1fhxkx0mm215b3cxp50fhshlp]
GO
ALTER TABLE [dbo].[mat_hang_duoc_dat]  WITH CHECK ADD  CONSTRAINT [FKa7jaiap0cy55s4ju9ab0xb70h] FOREIGN KEY([mamh])
REFERENCES [dbo].[mat_hang] ([mamh])
GO
ALTER TABLE [dbo].[mat_hang_duoc_dat] CHECK CONSTRAINT [FKa7jaiap0cy55s4ju9ab0xb70h]
GO
ALTER TABLE [dbo].[mat_hang_duoc_luu_tru]  WITH CHECK ADD  CONSTRAINT [FKi3qrhnfdqpookh5ygpejqvnj3] FOREIGN KEY([mach])
REFERENCES [dbo].[cua_hang] ([mach])
GO
ALTER TABLE [dbo].[mat_hang_duoc_luu_tru] CHECK CONSTRAINT [FKi3qrhnfdqpookh5ygpejqvnj3]
GO
ALTER TABLE [dbo].[mat_hang_duoc_luu_tru]  WITH CHECK ADD  CONSTRAINT [FKqdjpuf03r2j0rd166u95ma7si] FOREIGN KEY([mamh])
REFERENCES [dbo].[mat_hang] ([mamh])
GO
ALTER TABLE [dbo].[mat_hang_duoc_luu_tru] CHECK CONSTRAINT [FKqdjpuf03r2j0rd166u95ma7si]
GO
USE [master]
GO
